<footer class="footer fixed-bottom text-center">
    <div class="container-fluid py-2 bg-dark">
      <span class=" text-light">Made with love by <a href="https://rameshnaidu1999.github.io/kr/">Ramesh</a></span>
    </div>
</footer>
  