
  <div class="container">
    <h1 class="alert alert-primary text-center text-uppercase mb-3">New Article</h1>

    <form action="/articles" method="POST">
      <%- include('_form_fields') %>
    </form>
  </div>
